<% include partials/header %>

<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Upload image here</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/imageupload" method="post"
				enctype="multipart/form-data">
					<input class="button" type="file" name="photo" id="image" >
					<%= typeof msg !== 'undefined' ? msg : '' %>
					<input type="submit" value="Upload Image">
				</form>
		</div>
	
	</div>
	<!-- //main -->
</body>
</html>